html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	color: #484848;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

div.container {
	flex: 1 0 auto;
	margin: 30px auto;
	max-width: 1000px;
	width: 100%;
}
