section.places {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

section.places h1 {
	font-size: 30px;
	margin-left: 20px;
	width: 100%;
}

article {
	display: flex;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	margin: 20px;
	padding: 20px;
	width: 390px;
	justify-content: center;
}

article h2 {
	font-size: 30px;
}
